<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Tutup Buku">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Dukungan dan Bantuan">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Backup">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>