<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Umum</h3>
        <ul class="nav side-menu">
            <li><a href="/umum/dashboard"><i class="fa fa-home"></i> Beranda </a>
            </li>
            <li><a><i class="fa fa-building"></i> Profil <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/umum/profil_usaha">Profil Usaha</a></li>
                    <li><a href="/umum/profil_akun">Profil Akun</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="menu_section">
        <h3>Barang</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-cubes"></i> Data Barang <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="e_commerce.html">Data Barang</a></li>
                    <li><a href="e_commerce.html">Kategori</a></li>
                    <li><a href="projects.html">Satuan</a></li>
                </ul>
            </li>
            <li class="active"><a><i class="fa fa-windows"></i> Stok <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: block;">
                    <li><a href="page_403.html">Data Stok</a></li>
                    <li><a href="page_404.html">Masuk</a></li>
                    <li><a href="page_500.html">Keluar</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Pelanggan dan Supplier</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-users"></i> Pelanggan <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="e_commerce.html">Data Pelanggan</a></li>
                    <li><a href="e_commerce.html">Piutang</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-industry"></i> Supplier <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="page_403.html">Data Supplier</a></li>
                    <li><a href="page_404.html">Hutang</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="margin-bottom: 38px"></div>
</div>